* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
display: flex;
}
.header-site{
  
  
}

/* Header/logo Title */
.header {
	
  padding: 40px;
  text-align: center;
  background: #525252 ;
  color: white;
  background: url("http://www.nonprofitlawblog.com/assets/Cryptocurrency-Bitcoin.jpeg");
  
 /* border-radius: 30px;*/
  
}

p {
	
	margin: 0;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 50px;
  
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-radius: 0px;
  
  
}
img {
	border-radius: 15px;
	
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 15px;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.iframe-container{
	position: relative;
	width:100%;
	padding-bottom: 56.25%;
	height:0;
}
.iframe-container{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 20%;
  background-color: #EDF5FE ;
  padding: 10px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 80%;
  background-color: white;
  padding: 20px;
  display: block;
  border
}

/* Fake image, just for this example */
.img {
  background-color: #aaa;
  width: 100%;
  padding: 200px;
  
  
}
iframe {
	
	border-radius:15px
	
	
}

/* Footer */
.footer {
		
  padding: 15px;
  text-align: center;
  background: #525252 ;
  color: white;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
  @media not|only mediatype and (mediafeature and|or|not mediafeature) {
  CSS-Code;
}
}
